.banner-title{
    position: relative;
    bottom: 478px;
    left: 320px;
    color: white;
}

.bus-seat{
    width: 40%;
}
.discount-calculate{
    width: 40%;
    margin-left: 250px;
}
.wheel{
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

#poribahan-div{
    width: 70%;
}
 